/* https://piccalil.li/blog/a-modern-css-reset */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin and padding */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Preset */

@font-face {
  font-family: "Outfit";
  src: url(Assets/Fonts/Outfit/static/Outfit-Regular.ttf);
}

:root {
  --color-primary-blue: #192841;
  --color-secondary-blue: #1c2e4a;

  --color-primary-white: #f1f1f1;

  --color-primary-black: #050505;

  font-family: "Outfit";
  font-size: clamp(10px, 2vw, 16px);
}

/* Utility Class */

section {
  margin: 2rem 0;
}

.flx-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flx-col {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hidden {
  display: none;
}

/* General Styling */

body {
  color: var(--color-primary-white);
  background: var(--color-secondary-blue);
  scroll-behavior: smooth;
  /* overflow-x: hidden; */
}

h1 {
  font-weight: 700;
  font-size: 1.5rem;
}

.main-nav {
  justify-content: space-between;
  background: var(--color-primary-blue);
  padding: 1rem 1.5rem;

  position: relative;

  ul {
    justify-content: end;
    gap: 2rem;
  }

  a {
    text-decoration: none;
    color: inherit;
    font-weight: 700;
    font-size: 1.25rem;
    transition: opacity 0.3s ease;
  }

  a:hover {
    /* temporary */
    opacity: 0.5;
  }
}

.hamburger {
  /* Magic Number */
  width: 1.25rem;
  height: 1rem;
  align-items: start;
  justify-content: space-between;

  cursor: pointer;

  span {
    width: 100%;
    border-top: 2px solid var(--color-primary-white);
    transition: transform 0.3s ease, opacity 0.15s ease;
  }

  span:nth-child(1) {
    top: 0;
  }
  span:nth-child(2) {
    top: 50%;
  }
  span:nth-child(3) {
    bottom: 0;
    width: 70%;
  }
}

.hamburger.open {
  span:nth-child(1) {
    transform: translateY(calc(0.5rem - 1px)) rotate(45deg);
  }

  span:nth-child(2) {
    opacity: 0;
  }

  span:nth-child(3) {
    width: 100%;
    transform: translateY(calc(-0.5rem + 1px)) rotate(-45deg);
  }
}

.menu {
  background: var(--color-primary-blue);
  top: 100%;
  left: 0;
  position: absolute;
  min-width: 50vw;
  z-index: 999;
  box-shadow: 0 1px 2px 0 rgb(255, 255, 255, 0.15);
}

.menu.open {
  display: flex;
}

.profile {
  width: 100%;
  gap: 1rem;
  justify-content: space-around;

  img {
    border: 4px outset var(--color-primary-white);
    border-radius: 50%;
    max-width: clamp(1rem, 30vw, 20rem);

    box-shadow: 0.5rem 0.75rem 0 var(--color-primary-blue);
  }

  .brief {
    /* width: 100%; */
    padding: 1rem;
    border-radius: 0.25rem;

    color: var(--color-primary-black);
    background: var(--color-primary-white);

    box-shadow: 0.75rem 0.75rem 0 var(--color-primary-blue);
  }
}

.endeavors {
  width: 100%;
  /* overflow-x: hidden; */
  color: var(--color-primary-blue);
  background: var(--color-primary-white);

  * {
    opacity: 1;
    scale: 1;
  }
}

.certificate {
  img {
    max-width: min(80vw, 40rem);
  }
}

.main-footer {
  width: 100%;
  background: var(--color-primary-blue);
  justify-content: space-between;

  h1 {
    margin-bottom: 0.75rem;
    opacity: 0.8;
  }

  .footer-content {
    width: 100%;
    padding: 1rem clamp(1rem, 3vw, 2.5rem);
    justify-content: space-between;

    a {
      color: inherit;
    }

    a:hover {
      color: #4220ee;
    }

    .credit {
      h4 {
        font-weight: 600;
      }

      p {
        font-weight: 100;
      }
    }

    .contact {
      img {
        width: 2rem;
      }

      .social-media-list {
        align-items: start;
        gap: 0.5rem;

        .social-media {
          gap: 0.75rem;
        }
      }
    }
  }

  .copyright {
    width: 100%;
    text-align: center;
    border-top: 0.5px solid var(--color-primary-white);
  }
}

@media only screen and (max-width: 768px), (orientation: portrait) {
  .desktop-nav {
    width: 1.25rem; /*just to match the hamburger button*/

    li {
      display: none;
    }
  }

  .hamburger {
    display: flex;
  }

  .profile {
    flex-direction: column;
    text-align: center;
  }
}

/* default style for users with "reduced-motion" preference */
@media (prefers-reduced-motion: no-preference) {
  .endeavors * {
    scale: 0.8;
    opacity: 0;
    animation: fade-in linear forwards;
    animation-timeline: view();
    animation-range: 20vh 30vh;
  }

  @keyframes fade-in {
    to {
      scale: 1;
      opacity: 1;
    }
  }
}
