/* https://piccalil.li/blog/a-modern-css-reset */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin and padding */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Preset */
@font-face {
  font-family: "Outfit";
  src: url(Assets/Fonts/Outfit/static/Outfit-Regular.ttf);
}

@font-face {
  font-family: "Oswald";
  src: url(Assets/Fonts/Oswald/static/Oswald-Bold.ttf);
}

:root {
  --font-size-global: clamp(16px, 1.5vw, 20px);

  --color-primary-black: #000000;
  --color-secondary-black: #050505;
  --color-primary-white: #f1f1f1;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Outfit";
  font-size: var(--font-size-global);
  text-wrap: pretty;
}

/* section {
  padding: 2rem 0;
} */

/* Utility Class */
.flx-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flx-col {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hidden {
  display: none;
}

/* General Styling */
body {
  color: var(--color-primary-white);
  background: var(--color-secondary-black);
  /* overflow-x: hidden; */
}

h1 {
  font-size: calc(var(--font-size-global) + 0.75rem) !important;
  font-family: "Oswald";
  font-weight: 700;
}

.main-nav {
  position: fixed;
  top: 0;
  width: 100%;
  justify-content: space-between;
  background: transparent;
  padding: 0.75rem 2rem;
  z-index: 999;

  animation: bg-swap linear forwards;
  animation-timeline: view();
  animation-range: 100vh 200vh;

  a {
    text-decoration: none;
    color: inherit;
    font-weight: 700;
  }
  ul {
    height: 100%;
    justify-content: center;

    li {
      a {
        color: var(--color-primary-black);
        background-color: var(--color-primary-white);
        border-radius: 3rem;
        padding: 0.5rem;
        transition: border-radius 0.3s ease;
      }

      a:hover {
        border-radius: 0.25rem;
      }
    }
  }
}

.hamburger {
  /* Magic Number */
  width: 1.25rem;
  height: 1rem;
  align-items: start;
  justify-content: space-between;

  cursor: pointer;

  span {
    width: 100%;
    border-top: 2px solid var(--color-primary-white);
    transition: transform 0.3s ease, opacity 0.15s ease;
  }

  span:nth-child(1) {
    top: 0;
  }
  span:nth-child(2) {
    top: 50%;
  }
  span:nth-child(3) {
    bottom: 0;
    width: 70%;
  }
}

.hamburger:not(.hidden) {
  span:nth-child(1) {
    transform: translateY(calc(0.5rem - 1px)) rotate(45deg);
  }

  span:nth-child(2) {
    opacity: 0;
  }

  span:nth-child(3) {
    width: 100%;
    transform: translateY(calc(-0.5rem + 1px)) rotate(-45deg);
  }
}

.menu {
  min-width: 100vw;
  position: absolute;
  top: 100%;
  left: 0;
  background: transparent;
  z-index: 999;

  animation: bg-swap linear forwards;
  animation-timeline: view();
  animation-range: 100vh 200vh;
}

.profile {
  min-height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-content: center;
  place-items: center;
  background: url("/Assets/image/cave-story-moon-clouds-outer-wall-img.jpg");

  padding: 2rem;
  gap: 1rem;

  img {
    border: 4px outset var(--color-primary-white);
    border-radius: 50%;
    max-width: clamp(1rem, 30vw, 20rem);

    box-shadow: 0.25rem 0.25rem 1rem var(--color-primary-black);
  }

  span {
    border-right: 0.05em solid;
    animation: caret 1s steps(1) infinite;
  }

  .brief {
    /* width: 100%; */
    padding: 1rem;
    border-radius: 0.25rem;

    color: var(--color-primary-black);
    background: var(--color-primary-white);

    box-shadow: 0.25rem 0.25rem 1rem var(--color-primary-black);
  }
}

.about {
  width: 100%;
  justify-content: space-evenly;

  * {
    opacity: 1;
    scale: 1;
  }

  .about-card {
    min-height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;

    .card-image {
      height: 100%;
      width: 100%;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }
}

.hardskill {
  background: url("Assets/image/altumcode-PNbDkQ2DDgM-unsplash.jpg");
}

.softskill {
  background: url("Assets/image/annie-spratt-QckxruozjRg-unsplash.jpg");
}

.card-content {
  width: 100%;
  padding: 1.25rem;
  justify-content: space-evenly;
  gap: 1rem;

  .content {
    width: 100%;
    align-items: start;
    justify-content: space-evenly;
    gap: 1rem;
  }
}

.certificate {
  padding: 2rem 0;

  .certificate-list {
    gap: 2rem;

    img {
      max-width: min(80vw, 30rem);

      backdrop-filter: blur(5px);
      box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.051), 0px 0px 7.2px rgba(0, 0, 0, 0.073), 0px 0px 13.6px rgba(0, 0, 0, 0.09), 0px 0px 24.3px rgba(0, 0, 0, 0.107), 0px 0px 45.5px rgba(0, 0, 0, 0.129),
        0px 0px 109px rgba(0, 0, 0, 0.18);
    }
  }
}

.main-footer {
  width: 100%;
  background: var(--color-primary-black);
  justify-content: space-between;

  h1 {
    margin-bottom: 0.75rem;
    opacity: 0.8;
  }

  .footer-content {
    width: 100%;
    padding: 1rem clamp(1rem, 3vw, 2.5rem);
    justify-content: space-between;

    a {
      color: inherit;
    }

    a:hover {
      color: #4220ee;
    }

    .credit {
      h4 {
        font-weight: 600;
      }

      p {
        font-weight: 100;
      }
    }

    .contact {
      img {
        width: 2rem;
      }

      .social-media-list {
        align-items: start;
        gap: 0.5rem;

        .social-media {
          gap: 0.5rem;
        }
      }
    }
  }

  .copyright {
    width: 100%;
    text-align: center;
    border-top: 0.5px solid var(--color-primary-white);
  }
}

@media only screen and (max-width: 768px), (orientation: portrait) {
  .desktop-nav {
    width: 1.25rem; /*match the hamburger button*/

    li {
      display: none;
    }
  }

  .hamburger {
    display: flex;
  }

  .profile {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .content {
    width: fit-content !important;
    flex-direction: column;
  }
}

/* default style for users with "reduced-motion" preference */
@media (prefers-reduced-motion: no-preference) {
  .profile {
    background: url("Assets/image/cave-story-moon-clouds-outer-wall.gif");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
  }

  .about-card *:not(.card-image) {
    scale: 0.7;
    opacity: 0;
    animation: fade-in linear forwards;
    animation-timeline: view();
    animation-range: 25vh 35vh;
  }

  @keyframes bg-swap {
    to {
      background: var(--color-primary-black);
    }
  }

  @keyframes fade-in {
    to {
      scale: 1;
      opacity: 1;
    }
  }

  @keyframes caret {
    50% {
      border-color: transparent;
    }
  }
}
